@import url('https://fonts.cdnfonts.com/css/comic-sans');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

html {
    background-image: url(photos/hot.png);
    text-align: center;
    color: blueviolet;
}

.fit {
  width: 100%;
}

.left {
  background-image: url(photos/eyes/left.png);
  padding: 0.75em;
  border-radius: 5000px;
  font-family: 'Comic Sans', sans-serif;
}

.right {
  background-image: url(photos/eyes/right.png);
  padding: 0.75em;
  border-radius: 5000px;
  font-family: 'Comic Sans', sans-serif;
}

.one {
  font-family: 'Comic Sans', sans-serif;
}

.two {
  font-family: lobster, cursive;
}

.three {
font-family: 'Babylonica', cursive;
}

.logo {
  width: 50px;
  border-radius: 100px;
}