@import url('https://fonts.cdnfonts.com/css/comic-sans');

html {
    background-image: url(photos/hot.png);
    text-align: center;
    color: blueviolet;
    font-family: 'Comic Sans', sans-serif;
}

.fit {
  width: 100%;
}

.left {
  background-image: url(photos/eyes/left.png);
  padding: 0.75em;
}

.right {
  background-image: url(photos/eyes/right.png);
  padding: 0.75em;
}
